table {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

thead, tbody {
  display: block;
  position: relative;
  background: linear-gradient(to right, orange, purple);
  height: 100%;
  width: 100%;
}

th, td {
  background-color: #333;
  width: 178px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

th {
  margin-bottom: 3px;
}

td {
  margin: 0;
}

th, td:not(.action) {
  padding: 24.5px 0;
}

td button {
  padding: 25px 0 ;
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  background: none;
  color: white;
  transition: background 300ms;
}

td button:hover {
  background: #b03;
}